<!-- Generated template for the ProgressBarComponent component -->
<!-- <div>
  {{text}}
</div> -->

<div class="steps">
    <ul class="steps-container">
        <li style="width:33%;" class="activated">
            <div class="step">
                <div class="step-image"><span></span></div>
               
            </div>
        </li>
        <li style="width:33%;">
            <div class="step">
                <div class="step-image"><span></span></div>
              
            </div>
        </li>
        <li style="width:33%;">
            <div class="step">
                <div class="step-image"><span></span></div>
              
            </div>
        </li>
    </ul>
    <div class="step-bar" style="width: 33%;"></div>
</div>
